body{
    display: grid;
    max-width: 1400px;
    margin: 0 auto;
    font-size: 1.2em;
    font-style: arial;
    color: beige;
}

.container {
    background-size: contain;  
    background-color: blue;
    border: 3px solid rgb(238, 231, 237);
    padding: 2px;
    display: grid;
    gap: 2px;
    grid-template-columns: auto auto auto 200px;
    grid-auto-rows: 100px 200px 150px 100px 100px;
    grid-template-areas: 
        "h h h h"
        "c c c s"
        "c c c s"
        "c c c s"
        "f f f f"
     ;
}

.container div {
    padding: 0.5px;
    border: 1px solid rgb(241, 238, 238);
}

.header {
    background-color: blueviolet;
    grid-area: h;
     
} 

.sidebar {
    background-color: brown;
    grid-area: s;
}

.contest {
    grid-area: c;
}

.footer {
    background-color: palevioletred;
    grid-area: f;

}
